/* Hero  */ 
.withe-line{
    width: 19%;
    left: 20%;
    top: 43%;
}
.intro p {
    font-size: 1.4rem;
    top: 15%;
}
.container-hero h1{
    top: 28%;
}
/* Navbar */
nav {
    background-color: rgba(0, 0, 0, 0.301);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu-icon{
    display: none;
}
.navbar-links{
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;
}
.home .h:hover{   
    color:white;
    cursor: pointer;
}
.navbar-links li a:hover{
    color: whitesmoke;
    width: 150px; 
}

/* Section One */
.polaroid{
    top: 23%;
    right: 220%;
    width: 250px;
    height: 330px;

}
.polaroid img{
    height: 250px;
    width: 250px;
}
.section-one-text{
    left: 43%;
}

.section-one-text h3{
    font-size: 2.0rem;
    margin-bottom: 0;
}
.section-one-text p{
    padding: 0 3px;
    font-size: 1rem;
}
.glass-effect{
    height: 400px;
}
.quotation-mark{
    width: 20%;
}


/* Media Querys */
@media screen and (min-width: 1440px) {
    .intro p {
        font-size: 2rem;
    }
    .container-hero h1{
        font-size: 5rem;
    }
    .quotation-mark {
        width: 19%;
    }
    .card { 
        height: 550px;        
        width: 650px;
    }
    .polaroid {
        top: 30%;
        right: 330%;
        width: 250px;
    }
    .polaroid p {
        font-size: 1.4rem;
    }
    .section-one-text{
        left: 45%;
    }
    .section-one-text h3{
        font-size: 3rem;
        display: flex;
    }
    .section-one-text p{
        font-size: 1.3rem;    
    }
    .footer {
        height: 60px;
    }
    .footer a,
    .footer p {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 2560px){
    .container-hero h1{
        font-size: 8rem;
    }
    .intro p {
        font-size:3.1rem;
        top: 20%;
    }
    .withe-line{
        height: 4px;
    }
    /* Navbar */
    .home a {
        font-size: 2.5rem;
    }
    .navbar-links li a {
        font-size: 2.5rem;
    }
    /* Section One */
    .card { 
        width: 55%;
        height: 70%;
    }  
    .polaroid {        
        width:450px;
    }
    .polaroid p {
        font-size: 2rem;
        letter-spacing: 2px;
    }
    
    .section-one-text{
        left: 45%;
    }
    .section-one-text h3{
        font-size: 3rem;
        white-space: nowrap;
        margin-left: 140%;
    }
    .section-one-text p{
            font-size: 1.9rem;
            width: 250%;
            margin: 0 auto;
            line-height: 1.5;
        
    }
    .footer {
        height: 80px;
    }
    .footer a,
    .footer p {
        font-size: 3rem;
    }
}
/* sectio two*/

.polaroidd{
    display: block ;

}

/*section three*/
.figma{
    width: 400px;
}
.figma p{
    font-size: 1.3rem;

}
.david{
    width: 400px;
    left: 15%;
}
.wordpress,
.programming{
    width: 400px;
}
.ada-tutora{
    width: 400px;
}
.rollo{
    left: -14%;
    width: 228px;
    position: absolute;
    top: -13%;
    transform: rotate(339deg);
}
.photo1{
    width: 400px;
  
}
.astronauta{
    display: block;
    position: absolute;
    top: 0;
    right: 10%;
    width: 400px;
}
.vans{
    position: absolute;

}
.half-section figure:first-of-type img {
    top: 19%;
    left: 45%;
    position: relative;
}

.half-section figure:last-of-type img {
    position: absolute;
    left: 69%;
    bottom: 36%;
    opacity: 0.4;    
}

@media screen and (min-width: 1440px) {
    .form-contact {
        margin: 20px auto;
        width: 50%;

    }


    .half-section figure:first-of-type img{
        width: 400px;
        position: relative;
        top: 13%;
        right: 15%;
    }
    .half-section figure:last-of-type img {
        width: 300px;
        height: 400px;
        right: 3%;
    }
 
    .intro-contact p{
        font-size: 2rem;
    }
}
@media screen and (min-width: 2560px){
    .section-contact-me{
        width: 80%;
        flex-direction: row;
    }
    legend{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    label{
        font-size: 2.5rem;
        padding: 10px;
    }
    .half-section figure:first-of-type img{
        width: 800px;
    }
    .half-section figure:last-of-type img{
        width: 400px;
        height: 600px;
        right: 23%;
    }
    .navbar-links li a{
        gap: 40px;
    }
    .intro-contact p {
        font-size: 2.9rem;
    }
   
}




/* ---------------------------------- */
/* --------- Portfolio Page ---------- */
/* ---------------------------------- */



/* Header letters in the hero*/
.portfolio ul li{
    font-size: 5rem;   
    left: 17%; 
    position: relative;
}

.Jobs-Front hr,
.Jobs-Back hr {
    width: 35%;  
}
.Jobs-Front h2,
.Jobs-Back h2 {
    font-size: 2rem;
} 

.bodega figure img,
.aceite figure img,
.africa figure img {
    max-width: 50%;
    max-height: 50%;
    
}
.bodega p,
.aceite p,
.africa p{
    font-size: 1.3rem;
}
/* Media Querys */
@media screen and (min-width: 1440px){
    .portfolio li{
        font-size: 7rem;
    }
    .Jobs-Front h2,
    .Jobs-Back h2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Jobs-Back br,
    .Jobs-Front br {
        display: none;
    }
    .bodega p,
    .aceite p,
    .africa p {
        font-size: 2rem;
    }
    .bodega figure img,
    .aceite figure img,
    .africa figure img {
        max-width: 60%;
        max-height: 70%;
    }
    .cincosentidos:link,
    .dioliva:link,
    .africa:link {
    color: rgb(7, 7, 243);
    text-transform: uppercase;
    font-size: 1rem;
}

}
@media screen and (min-width: 2560px) {
    .portfolio ul li{
        font-size: 10rem;
    }
    /* Navbar */
    .home a {
        font-size: 4rem;
    }

    .home a:hover{
        background-color: var(--color-secundary);
        color: var(--color-primary);
        cursor:pointer
    }
    .navbar-links li a{
        font-size: 3rem;
    }
    .Jobs-Front h2,
    .Jobs-Back h2{
        font-size: 5rem;
    } 

    .bodega figure img,
    .aceite figure img,
    .africa figure img {
        width: 60%;
    }
    .bodega p,
    .aceite p,
    .africa p {
        font-size: 3.3rem;
    }
    .cincosentidos:link,
    .dioliva:link,
    .africa:link {
    color: rgb(7, 7, 243);
    text-transform: uppercase;
    font-size: 1.9rem;
}
}
/* ---------------------------------- */
/* --------- Portfolio Page ---------- */
/* ---------------------------------- */
.dentistry h2,
.programmer h2 {
    font-size: 2.2rem;
}
.dentistry p,
.programmer p{
    font-size: 1.4rem;
}
.gallerycontainer{
    justify-content: space-evenly;
}

@media screen and (min-width: 1440px){
    .dentistry p,
    .programmer p {
    font-size: 1.9rem;
    }

}
@media screen and (min-width: 2560px) {
    .dentistry h2,
    .programmer h2,
    .gallerytitle {
        font-size: 3.8rem;
    } 
    .dentistry p,
    .programmer p {
        font-size: 2.5rem;
    }
   
}