/* Stylesheets */
@import url('./normalize.css');
@import url('./mobile.css');
@import url('./tablet.css') screen and (min-width: 768px);
@import url('./desktop.css') screen and (min-width: 1024px);

 


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;1,900&family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@font-face {
    font-family: 'Cashrole' ;
    src: url(./assests/fonts/Cashrole.ttf);
}





/* Root */ 
:root {    
    --color-primary: #000;
    --color-secundary: #fff;
    --color-tertiary: #6F6F6F;
    --font-family-one: 'Roboto Flex', sans-serif;
    --font-family-two: 'Inter Tight', sans-serif;
    --font-family-three: 'Playfair Display', serif;
    --font-family-four: 'Cashrole', serif;
    --font-family-five: 'Grape Nuts', cursive;
    --glass-effect: #fafafa10;
    --color-smoke: #84837D;
    --font-size-p: 1.2rem;
    --font-size-h1-mobile: 2.2rem;
    --scroll-behavior: none; 
}
.html{
    scroll-behavior: smooth;
    
}